@model kursovaya2.Models.Registration

@{
    ViewBag.Title = "Справка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3">Справка</h2>

<div>
    <h4>Регистрация задания</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата выдачи
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            Дата сдачи
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfIssue)
        </dd>

        <dt>
           Имя студента
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Fulll_Name)
        </dd>

        <dt>
            Название предмета
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskOnTheSubject.Subject_Title)
        </dd>

    </dl>
</div>
<p>
    @{var id = Model.ID;}
    <a class="btn btn-primary" href="/Registration/Edit/@id">Редактировать</a> |
    @Html.ActionLink("Вернуться", "Index")
</p>