@model IEnumerable<kursovaya2.Models.Student>
@using kursovaya2.Models;

@{
    ViewBag.Title = "Студенты";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pages pager = new Pages();

    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager; 
        pageNo = pager.CurrentPage;
    }
}

<h2 class="mt-4">Список студентов</h2>
<a class="btn btn-primary mt-3" href="Student/Create">Добавить нового студента</a>
<table class="table table-striped mt-3">
    <tr>
        <th>
            Номер зачетной книжки
        </th>
        <th>
            Номер группы
        </th>
        <th>
            Имя
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group_NumberOfGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fulll_Name)
            </td>
            <td style="text-align: right">
                @{var id = item.StudentNumber;}
                <a class="btn btn-primary" href="Student/Edit/@id">Редактировать</a>
                <a class="btn btn-primary" href="Student/Details/@id">Справка</a>
                <a class="btn btn-danger" href="Student/Delete/@id">Удалить</a>
            </td>
        </tr>
    }
</table>

<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?pg=@pge">@pge</a>
                </li>

            }
        </ul>
    }
</div>